# Dependency directories
node_modules/

# OS files
.DS_Store
Thumbs.db

# Environments / secrets (just in case they are added locally)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
